{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<h2>Разработчик информационной системы: Леонид Карчин</h2>
<h2>Сайт информационно-справочной системы «Музыкальные альбомы»» - “Music Classic Albums”.
    Данная система предназначена для поиска информации о музыкальных альбомах различных жанров разных и десятилетий.
    Мы предоставляем самую актуальную инофрмацию.
    Пользватели могут самостоятельно добавлять альбомы и информацио о них. Модерация сайта отслеживает активность и в
    случае необходимости
    могут внести изменения в запись или удалить ее. Также администрация может удалить пользователя и его данные.</h2>
{% endblock %}